/* header style start */

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

header > .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 80px;
}

header > .title > .logo {
    font-size: 2em;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #dc143c;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 0 20px #dc143c;
}

header >  nav > ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style: none;
}

header >  nav > ul > li > a {
    color: black;
    text-decoration: none;
}

/* header style end */

.point1 {
    z-index: -999;
    position: absolute;
    top: 800px;
    right: 40px;
    box-shadow: 0 0 1000px 400px pink;
}

.point2 {
    z-index: -999;
    position: absolute;
    top: 400px;
    left: 400px;
    box-shadow: 0 0 1000px 150px dodgerblue;
}

/* section GetKit start */

.sectionGetKit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto 0;
}

.titleSection {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.titleSection > p {
    font-size: 18px;
}

.titleSection > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 30px;
    border: none;
    background-color: #dc143c;
    box-shadow: 0 0 20px #dc143c;
    width: 150px;
    height: 54px;
}

.infoCircle {
    position: relative;
    height: 570px;
    width: 40%;
}

.infoCircle h3 {
    font-size: 2em;
}

.infoCircle > .price {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 96px;
    height: 120px;
    background-color: dodgerblue;
    border-radius: 20px;
    color: white;
}

.infoCircle > .price > p {
    text-transform: uppercase;
}

.infoCircle > .server {
    z-index: 2;
    position: absolute;
    left: 35%;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px #dc143c;
    background-color: white;
    width: 256px;
    aspect-ratio: 1;
}

.infoCircle > .server > p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #dc143c;
}

.infoCircle > .speed {
    position: absolute;
    right: 0;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #dc143c;
    width: 256px;
    aspect-ratio: 1;
}

.infoCircle > .speed > p:first-child {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: dodgerblue;
}

.infoCircle > .speed > p:last-child {
    margin-top: 20px;
    font-size: 1.2em;
    color: dodgerblue;
}

.infoCircle > .guarantee {
    position: absolute;
    left: 40%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid dodgerblue;
    background-color: white;
    box-shadow: 0 0 20px dodgerblue;
    width: 192px;
    aspect-ratio: 1;
}

.infoCircle > .guarantee > p {
    font-weight: 600;
    text-align: center;
    color: dodgerblue;
}

.infoCircle > .country {
    position: absolute;
    left: 0;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: -2px 2px 20px dodgerblue;
    width: 160px;
    aspect-ratio: 1;
}

.infoCircle > .country > p {
    margin-top: 10px;
    color: #dc143c;
}

.switchers {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.switchers > .backBtn, .switchers > .nextBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid dodgerblue;
    background-color: white;
    box-shadow: 0 0 20px dodgerblue;
    width: 64px;
    aspect-ratio: 1;
}

.switchers > .backBtn img, .switchers > .nextBtn img {
    width: 32px;
}

/* section GetKit end */

/* section Device start */

.sectionDevice {
    border-radius: 30px;
    height: 20vh;
    width: 50%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #0625F9, white 50%, deeppink , rgba(255,0,0,0.9));
    -webkit-border-image: -webkit-linear-gradient(left, #0625F9 , white 50%, deeppink , rgba(255,0,0,0.9));
    border-image-slice: 1;
}

.sectionDevice > .icons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionDevice > .icons > img {
    width: 50px;
    aspect-ratio: 1;
}

/* section Device end */

/* section privacy start */

.sectionGetItNow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.sectionGetItNow > .titleSection {
    width: 544px;
}

.sectionGetItNow > .infoCircle h3 {
    font-size: 18px;
}

.sectionGetItNow > .infoCircle > div:nth-child(n){
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.sectionGetItNow > .infoCircle > .holdLocation {
    width: 192px;
    aspect-ratio: 1;
    background-color: #A4C2FF;
    box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
    backdrop-filter: blur(15px);
    color: #FFFFFF;
    left: calc(30% - 192px/2);
    top: 0;
}

.sectionGetItNow > .infoCircle > .withoutTracking {
    z-index: 3;
    width: 192px;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
    backdrop-filter: blur(15px);
    color: #4A86FF;
    left: 0;
    top: calc(40% - 192px/2);
}
.sectionGetItNow > .infoCircle > .stopAds {
    width: 160px;
    aspect-ratio: 1;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
    backdrop-filter: blur(15px);
    color: #4A86FF;
    right: 20%;
    top: calc(50% - 192px/2);
}
.sectionGetItNow > .infoCircle > .privately {
    width: 160px;
    aspect-ratio: 1;
    background: #4A86FF;
    box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
    color: #FFFFFF;
    left: calc(30% - 192px/2);
    bottom: calc(40% - 192px/2);
}
/* section privacy end */